# Exercício - Informações de um DataFrame

## Carregando a base de dados

In [1]:
import pandas as pd

In [2]:
dados = [['Fulano', 12, 7.0, True],
        ['Sicrano', 15, 3.5, False], 
        ['Beltrano', 18, 9.3, True]]

In [3]:
alunos = pd.DataFrame(dados, columns=['Aluno', 'Idade', 'Nota', 'Aprovado'])

In [4]:
# Dados dos Alunos
alunos

      Aluno  Idade  Nota  Aprovado
0    Fulano     12   7.0      True
1   Sicrano     15   3.5     False
2  Beltrano     18   9.3      True

In [5]:
tipos_de_dados = pd.DataFrame(alunos.dtypes, columns=['Tipos de Dados'])

In [6]:
tipos_de_dados.columns.name = 'Variáveis'

In [7]:
tipos_de_dados

Variáveis Tipos de Dados
Aluno             object
Idade              int64
Nota             float64
Aprovado            bool